// Here you can add other styles

.nopadding{
    padding: 0px;
}

.errorClass{
    color: red;
}

.removeUpDownArrow::-webkit-inner-spin-button, 
.removeUpDownArrow::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.customTableHeaderClass > thead > tr > th{
    border-bottom: 0px;
}

.UploadDropButton{
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    font-size: 35px;
    padding: 15px;
    background-color: #dedede;
}

.UploadDropButtonSuccess{
    background-color: #7ea6ff42;
}

.FileOverUploadDropButton{
    background-color: #ff000066;
}

.FormFieldandInput{
    padding: 10px;
}

.FormFieldandInput > [name=header]{
    font-size: 17px;
    padding: 3px;
}

.FormFieldandInput > [name=input]{
    padding-right: 20px;
    margin: 10px 0px 0px 0px;
}